# Ambiente virtual
venv/
.env/
.venv/

# Arquivos de cache do Python
__pycache__/
*.py[cod]
*.pyo

# Logs e arquivos temporários
*.log
*.tmp
*.bak

# Arquivos do Jupyter
.ipynb_checkpoints/

# IDEs e editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de dependência lock (opcional)
Pipfile.lock
poetry.lock
